# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# VS Code
.vscode/

# local settings
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore files, created by OS
.DS_Store

# Local configuration
.idea/
